<!--
 * @Author: your name
 * @Date: 2020-07-05 08:42:50
 * @LastEditTime: 2020-07-05 09:00:30
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \demo\index.html
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0 ,user-scalable=no" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <!--<script src="https://unpkg.com/vue-router@3.1.6/dist/vue-router.js"></script>-->
</head>

<body>
    <div id="app" class="main">
        <router-view ref="body"></router-view>
    </div>
</body>

</html>